* {
    margin: 0;
    padding: 0;
    color: antiquewhite;
}

@font-face {
    font-family: 'that';
    src: url(../fonts/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: 'one';
    src: url(../fonts/CroissantOne-Regular.ttf);
}

@font-face {
    font-family: 'two';
    src: url(../fonts/Kenia-Regular.ttf);
}
html
{
    scroll-behavior: smooth;
}
nav ul li a 
{
    color: antiquewhite;
    text-decoration: none;
}
body {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    background-image: url(../img/sd.jpg);
    background-repeat: no-repeat;
}

h1 {
    font-size: 85px;
    font-family: 'one', sans-serif;
    margin: 10px;
    opacity: 0;
    animation: slideIn 1s ease-in-out forwards;
}

a1 {
    font-size: 30px;
    opacity: 0;
    animation: slideIn 1s ease-in-out forwards 0.5s;
    margin: 10px;
}
a2
{
    font-size: 30px;
    opacity: 0;
    animation: slideIn 1s ease-in-out forwards 0.5s;
    margin: 10px;
}
h2 {
    font-size: 50px;
    font-family: 'one', sans-serif;
    margin: 30px;
    opacity: 0;
    animation: slideIn 1s ease-in-out forwards 1s;
}

header {
   
    margin: 0 auto;
    letter-spacing: 0.15em;
    align-items: center;
    justify-content: center;
}



@keyframes slideIn {
    from {
        transform: translateY(-50vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.content-container > .my {
    height: 20vh;
    width: 50%;
    position:relative;
    align-items: center;
    top: 15%;
}
nav ul li
{
    display: inline-block;
    margin: 20px;
    /* position: fixed; */
    z-index: 999;
}

#home
{
    width: 100%;
    height: 100vh;
float: left;
align-items: center;
display: inline-flex;
background-image: url(../img/sd.jpg);
/* background-color:rgb(221, 218, 218); */
}

/* about page  */
#about
{
    width: 100%;
    height: 100vh;
float: left;   
align-items: center;
 background-image: url(../img/sd.jpg); 
background-size:cover;
background-repeat: no-repeat; 
}

.desc
{
    align-items: center;
    justify-content: center;
    margin: 30px;
    top: 50%;
}

a3
{
    color:antiquewhite;
    font-size: 30px;
}
h3
{
text-align: center;
    color: antiquewhite;
    font-size: 80px;
    background: linear-gradient( rgb(111, 111, 231) , rgb(136, 222, 136) );
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
    font-family: cursive;
}
h3:hover
{
       opacity: 0;


}


.content-container
{
    top: 10%;
    position: absolute;
    transition: transform 0.3s ease-out;

}
.desc
{
    display: flex;
}
  .desc > .photo
    {
        height: 30%;
        width: 20%;
        top: 0%;
        right: 0%;
        gap: 35px;
border-radius: 50%;
margin-left: 80px;
    }


    /* projects  */
    
    #projects
    {
        width: 100%;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(48,48,54,1) 35%, rgba(0,212,255,1) 100%);
display: grid;
grid-template-columns:repeat(6, 1fr) ;
grid-gap: 3rem;
/* margin: 10rem 50rem; */
    }

.card
{
   height: 15rem;
   /* width: auto; */
   border-radius: 1rem;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(61, 108, 108);
grid-column: span 3;
font-size: 1.2rem;
/* padding: 5 rem; */
box-shadow: 0.7rem 0.7rem 0rem black;
border: 4px  solid black;
gap: 2rem;
}
.card p 
{
    line-height: 2rem;
    display: none;
}

.card.active p{
    display: block;
}

.card.active
{
    grid-column: 1 / span 6 ;
    grid-row: 1;
    order: 0;
    height: auto;
    /* width: auto; */
}
.card.is-inactive{
    grid-column: span 2;
}






    